body {
    /* overflow-y: hidden; Hide vertical scrollbar */
    overflow-x: hidden; /*Hide horizontal scrollbar */
}

#top-navbar{
    position: relative;
    box-shadow: 0 5px 4px -4px gray;
    z-index: 2;
    min-height: 80px!important;
}


#side-navbar{
    position: relative;
    margin: 0px;
    height: 650px;
    /* box-shadow: 5px 5px 5px grey; */
    z-index: 1; 
    height: 88vh;
    border-left: 2px lightgray solid;
}

div#chatArea{
    height: 70vh;
    overflow: scroll;
    overflow-x: hidden;
}

#inputArea{
    display: flex;
    align-items: center;
}

.btn-purple{
    color: #c266ff;
    background-color: transparent;
    border-color:transparent;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #8a00e6;
}

.animation{
    background-color: turquoise;
    animation-name: purple-gradient;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes purple-gradient {
    0%{
        background-color: #8a00e6;
    }
    50%{
        background-color: orchid;
    }
    100%{
        background-color: #8a00e6;
    }
}